.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__qf2Hm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-sWtYhhg7koWI);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__qf2Hm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__qf2Hm > :global(.__wab_flex-container) > *,
.freeBox__qf2Hm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qf2Hm > :global(.__wab_flex-container) > picture > img,
.freeBox__qf2Hm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox__qf2Hm {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox__qf2Hm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__qf2Hm > :global(.__wab_flex-container) > *,
  .freeBox__qf2Hm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qf2Hm > :global(.__wab_flex-container) > picture > img,
  .freeBox__qf2Hm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
  display: flex;
}
.freeBox___8AgJ7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  align-self: center;
}
.freeBox___8AgJ7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8AgJ7 > :global(.__wab_flex-container) > *,
.freeBox___8AgJ7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8AgJ7 > :global(.__wab_flex-container) > picture > img,
.freeBox___8AgJ7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox___8AgJ7 {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__osA8R:global(.__wab_instance) {
  position: relative;
}
.svg__l1NaU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xr6FR {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg___3Wy2M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__pPtyb:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__pPtyb:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__r1Fec {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xGzT9 {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg___0IdTb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__jHdw9:global(.__wab_instance) {
  position: relative;
}
.svg__dxeYo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__v6Ia2 {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__keVkZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__b6BLi {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__b6BLi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 930px) {
  .freeBox__b6BLi {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__b6BLi > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__b6BLi > :global(.__wab_flex-container) > *,
  .freeBox__b6BLi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__b6BLi > :global(.__wab_flex-container) > picture > img,
  .freeBox__b6BLi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button__ea5Cq:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__ea5Cq:global(.__wab_instance) {
    display: none;
  }
}
.svg___87SkR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__os4Aj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___76HpA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__agOiU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fyHJe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
